@page
@model Hakkers.Pages.Admin.UsersRoles.AddModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h4>Add Role to User</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label class="control-label"><strong>User</strong></label>
                <label class="control-label">@Model.User.UserName</label>
            </div>
            <div class="form-group">
                <label class="control-label">Role</label>
                <select asp-for="SelectedRole" asp-items="@(Model.RolesSelectList)" class="form-control">
                    <option>Select Role</option>
                </select>
                <span asp-validation-for="SelectedRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Assign Role to User" asp-route-id="@Model.User.Id" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}